.new-icon {background:transparent url(more.png) center 0 no-repeat;}
.save-icon {background:transparent url(drop-yes.png) center 0 no-repeat;}
.delete-icon {background:transparent url(drop-no.png) center 0 no-repeat;}